<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historiska Händelser</title>
    <script src="js/script.js" type="module"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="grundläggande_principer.html">Grundläggande Principer</a>
            </li>
            <li>
                <a href="historiska_händelser.html">Historiska Händelser</a>
            </li>
            <li>
                <a href="tjugiotalets_händelse.html">Tjugiotalets Händelse</a>
            </li>
            <li>
                <a href="webbpubliceringssystem.html">Webbpubliceringssystem</a>
            </li>
            <li>
                <a href="/index.html">Startsida</a>
            </li>
        </ul>
    </nav>
</body>
</html>