<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historiska Händelser</title>
    <script src="js/script.js" type="module"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1>1963 Här kläcks idén om ett ”intergalaktiskt nätverk”</h1>
    <h2>Egentligen börjar det med Sputnik. När Sovjetunionen 1957 skickar upp satelliten i rymden blir USA vettskrämda. De inser att de också behöver agera och startar myndigheten ARPA (Advanced Research Projects Agency) för att se till att försvarsforskningen kan ligga i framkant.</h2>
    <h2>Det var under den här tiden som den verkliga principen till grunden för dagens internet uppstod.</h2>
    <p>Under denna tid blir psykologen och datorforskare JCR Licklider intresserad av hur människor och datorer kan interagera. Vid denna tid är datorer stora räknemaskiner som fyller salar, men Licklider tror att det i framtiden kommer att finnas andra användningsområden. Redan 1960 föreslår han tangentbord och skärmar man kan använda som griffeltavlor. Röstigenkänning är en annan funktion han tänker sig, men för att åstadkomma visionerna krävs ett tidsdelningssystem, så att flera användare kan använda datorerna samtidigt. Han kallar tanken för ”thinking centers”. Poängen var att avlasta människan och göra henne mer effektiv (han hade själv räknat ut att han ägnade 85 procent av sin tid åt förberedande sysslor och inte åt riktigt arbete).</p>
    <h2>Stora idéer på rätt plats</h2>
    <p>När ARPA startar en avdelning för IT-innovation 1962 får JCR Licklider jobbet att leda den. Där får han möjlighet att omsätta sina tankar till verklighet. Han beskriver i ett memo som går runt på Pentagon 1963 att det landet behöver är ett parallellt system för kommunikation, i händelse av att Sovjet skulle bomba det centraliserade telefonnätet. Han föreslår ett ”intergalaktiskt nätverk” där datorer över hela världen kan prata med varandra, decentraliserat.</p>
    <p>I praktiken: att alla ARPA:s datorer med tidsdelningssystem ska sättas samman till ett nationellt system. Han beskriver vidare hur program inte behöver finnas på varje dator, utan i själva nätverket.</p>
    <h2>Börjar jobba</h2>
    <p>Men Licklider har inga konkreta förslag på hur det i praktiken ska gå till. Liknande idéer har i ärlighetens namn formulerats tidigare, men för första gången är de formulerade av person med möjlighet att förverkliga dem. Året därpå blir Licklider chef över DARPA (Defense Advanced Resarch Project Agency), ett projekt inom den amerikanska militären, som sedermera kommer att skapa föregångaren till internet: Arpanet. Bollen är i rullning.</p>
    <p>1964 lämnar JCR Licklider sin tjänst på ARPA för att bli konsult för IBM. Hans efterträdare tar över stafettpinnen och de närmaste åren börjar idéerna förverkligas.</p>
    <p>JCR Licklider avlider 1990, innan internet slår igenom på allvar. Han är postumt invald Internet Hall of fame.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3GfOTUoBpRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <nav>
        <ul>
            <li>
                <a href="/index.html">Startsida</a>
            </li>
        </ul>
    </nav>
</body>
</html>