<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historiska Händelser</title>
    <script src="js/script.js" type="module"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1>1969 Filmklipp: Så tänker man sig framtiden för internet</h1>
    <h2>I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra.</h2>
    <p>I videon förutspås även e-post, som kan skickas till vem som helst över hela jorden på ett kick. Berättarrösten kallar funktionen för ”home post office”. Samma år som filmen produceras skapas faktiskt det som kommer att bli det ”riktiga internet”: Arpanet</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-YlouJEcipU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br><br><br><br><br>
    <h1>1973 Arpanet blir äntligen ett internationellt nät – via Sverige</h1>
    <h2>Fram till 1973 har Arpanet bara varit en angelägenhet för amerikanska försvaret. Men i och med en koppling till Norge (via Sverige) kan man för första gången tala om ett internationellt nät. Internet, kort och gott.</h2>
    <p>Arpanet heter datornätverket som kommer att utgöra grunden i det vi numera kallar internet. Till en början är bara ett fåtal datorer inkopplade, men antalet växer i USA i början av 1970-talet.</p>
    <p>Det dröjer till den 15:e juni 1973 innan nätet blir internationellt. Den första dator utanför USA som kopplas in på Arpanet är norsk och den nås via satellit. Vad inte alla vet är att Sverige också har en roll i denna internethistoria. Den första internetkontakten går nämligen via markstationen i Tanum i Bohuslän, som sedan skickar vidare signalen till Norge och Norsar (ett forskningscentrum som grundats ihop med USA för att upptäcka jordbävningar och kärnvapenexplosioner).</p>
    <h2>Därför blir Norge först</h2>
    <p>Anledningen till att just vårt grannland blir först ut är de goda militära kontakterna norrmännen under dessa kalla krigs-år har med amerikanerna. Månaden efter får även en dator i Storbritannien kontakt med Arpanet.</p>
    <p>Namnet internet myntas snart, som vid tiden är en förkortning för ”internetworking”. Skaparen av protokollen TCP och IP (TCP/IP), Vint Cerf, skriver internet i en text 1974 och det anses vara då ordet kommer till faktiskt användning för första gången.</p>
    <br><br><br><br><br><br>
    <h1>1980 Plötsligt kan du spela mot främlingar – när rollspelet MUD gör succé</h1>
    <h2>1980 blir internet en arena för spelare. Rollspelet MUD (också kallat Essex MUD eller MUD1) når ut globalt i samband med att Essex Universitet kopplar ihop sitt nätverk med Arpanet.</h2>
    <p>Från och med nu drar en MUD-våg över internet, och allt fler spel lanseras. Multi-User Dungeon är textbaserade och ofta äventyrsspel som utspelar sig i fantasivärldar med påhittade djur och monster. Uppgiften är att ha ihjäl fantasidjuren, utforska och lösa uppgifter. Allt utan bild och ljud.</p>
    <p>Upplägget i berättelserna påminner inte sällan om det populära bordsrollspelet Dungeons & Dragons, och att delta är för det mesta gratis. Under senare delen av 80-talet utvecklas spelen och många får grafik. MUD-spelen är på så vis en föregångare till populära multiplayerspel som World of Warcraft, EverQuest och Ultima Online, liksom virtual reality-baserade Second Life.</p>
    <p>Ett svenskt MUD-spel, SvenskMUD, lanseras 1991 genom datorföreningen Lysator vid Linköpings universitet. Spela MUD här!</p>
    <br><br><br><br><br><br>
    <h1>1990 Monopolen faller – och Sverige får en kommersiell internetleverantör</h1>
    <h2>I slutet av 80-talet finns nätet sedan länge, men går inte att använda av vem som helst. Många företag och organisationer får gå via universitetsnätverket Sunet för att komma ut på nätet. Antalet blir snart för många. Dags att släppa nätet fritt!</h2>
    <p>Föreningen Swedish Network Users’ Society (SNUS) tar initiativet. Den första lösningen kallas Guerillanet (senare Basnät 90), och är tänkt att drivas av entusiaster. Men snart inser man att det behövs en mer hållbar lösning. Diskussioner först först mellan SNUS och Televerket, men myndigheten föredrar den så kallade X.25-tekniken, där de kan behålla kontrollen över kommunikationen. TCP/IP, med sitt decentraliserade upplägg, är raka motsatsen till hur telekommunikation bedrivits av staten.</p>
    <p>Frågan går då istället till Jan Stenbecks Comvik Skyport.</p>
    <h2>Stenbecks hektiska 80-tal</h2>
    <p>Att det blir just han som får frågan kräver en lite mer utvecklad beskrivning. Han har vid det laget gjort sig känd som utmanare av monopol. Redan 1979 startar han mobiloperatören Millicom, efter att ha inspirerats av tv-serien Get Smart, där skor kan knäcka extra som mobiltelefoner. Millicom har basen i USA och har som affärsidé att köpa upp andra länders mobiltillstånd.</p>
    <p>På hemmaplan tar Jan Stenbeck kommando över familjeföretaget Kinnevik, och skiftar fokus från pappers- och stålindustri till telekom, media och it. Genom Kinnevik köps företaget Företagstelefon AB upp, som byter namn till Comvik. 1981 ger regeringen bolaget tillstånd att automatisk koppla sina samtal till det fasta telenätet – något bara Televerket fått göra tidigare.</p>
    <p>Några år senare startar Jan Stenbeck Sveriges första kommersiella tv-kanal TV3 och utmanar monopolet i Sverige genom att sända från Storbritannien. Comvik (senare Tele 2) banar sedan vägen för den mobila utvecklingen. Så när har får förfrågan om att starta Sveriges första kommersiella internetleverantör blir svaret ja.</p>
    <h2>Nu blir internet en angelägenhet för företag</h2>
    <p>Avtalet undertecknas den 30 oktober 1990 av Bo-Erik Sandholm, SNUS ordförande, och Per Troberg, vd för Comvik Skyports. Nätet ska drivas av Swipnet AB (Swedish IP Networks), som är ett dotterbolag till Comvik skyport (sedermera Tele 2).</p>
    <p>Kunderna från Sunet har tidigare haft gratis anslutning. Nu får de räkningar skickade till sig. Större företag kan få en månadskostnad på 10 000 kronor, och en startavgift på 50 000 kronor. Ändå är Swipnet ett mycket litet företag. De anställda får plats i ett kök och modempooler installeras där man fick plats. Det är på vindar, hos kompisar och olika utrymmen man finner ute i landet.</p>
    <p>Sverige är ett annorlunda land vid den här tiden. Staten har fortfarande monopol på modem, och man får inte koppla in sig i statens telefonnät hur som helst. Men under dessa år – påhejat av regeringen Bildt – faller monopolen. Televerket blir Telia. Sverige får en kommersiell tv-kanal i marknätet (Tv4). Och modemen avregleras.</p>
    <h2>Televerket kommer igång året efteråt</h2>
    <p>I en intervju med Internetmuseum berättar dåvarande produktchefen Per-Olof ”POJ” Josefsson om sin tid på Swipnet (se en lång intervju med honom här):</p>
    <p>– Det var entusiasterna som körde det här, med motsvarande kvalitet. Det gör i alla fall att det kommer igång. Då förstod vi inte riktigt omfattningen av det här (internets framväxt), vi försökte bara få igång verksamheten.</p>
    <p>Hösten 1991 får Swipnet konkurrens från Televerkets Tipnet. Efter tre år har Swipnet ett positivt kassaflöde, men ändå läggs Swipnet AB ner och blev en del av Tele 2. Namnet lever dock vidare för kunderna i många år till.</p>
    <p>2014 går Tele 2 ut med att de ska stänga ner alla hemsidor som skapats via Swipnet. Dessa har dock räddats för eftervärlden genom Internetmuseum och IIS.</p>
    <br><br><br><br><br><br>
    <h1>2000 Millenniebuggen får samhället att skaka tänder – men katastrofen uteblir</h1>
    <h2>Mängder av ingenjörer, räddningsarbetare och regeringsmedarbetare tillbringar nyårsnatten 99/00 på jobbet, redo att rycka in om samhället kollapsar. Men de får ett lugnt arbetspass. Millenniebuggen orsakar bara smärre missöden.</h2>
    <p>Själva buggen har kommit till efter hur datorprogram och andra it-system har utformats. När dessa programmeras i mitten av seklet tror ingen att koden kommer att finnas kvar så långt fram i tiden som år 2000. Roten till problemet var att systemen använde två siffror istället för fyra för att ange årtal. Istället för år 1999 lagrades alltså endast 99. Skiftet vid år 2000 skulle då övergå till år 00 i systemen, det vill säga år 1900.</p>
    <p>I slutet av nittiotalet får oron för milleniebuggen företag och myndigheter att satsa miljarder för att göra systemen redo för ett nytt tusental. Mardrömsscenariot är att allt från flygplan till kärnkraftverk plötsligt lägger av – när tekniken nått sitt slutdatum.</p>
    <p>Beredskapen i samhället beskrivs som rekordgod. Och kanske därför påverkas varken elförsörjningen, bankväsendet eller lokaltrafiken. Däremot slutar alla taxametrar att fungera hos Taxi Åmål och i simhallen i Täby går det inte längre att köpa årskort.</p>
    <p>Så mycket allvarligare blir inte den befarade katastrofen.</p>
    <br><br><br><br><br><br>
    <h1>2010 Statistik: Så surfar svenskarna 2010</h1>
    <h2>85% av svenskarna över 16 år har tillgång till internet i hemmet. 97% av internetanvändarna har tillgång till bredband.</h2>
    <p>Sverige intar förstaplatsen på tre globala IT-index, rankinglistor som försöker mäta olika länders beredskap och förutsättningar för att bli ett framgångsrikt informationsteknologiskt land.</p>
    <br><br><br><br><br><br>
    <nav>
        <ul>
            <li>
                <a href="/index.html">Startsida</a>
            </li>
        </ul>
    </nav>
</body>
</html>