<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historiska Händelser</title>
    <script src="js/script.js" type="module"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <img src="https://th.bing.com/th/id/R13d73ba1b9feacee7d5af964430f2541?rik=5ZB7%2f2rcNTRBEg&pid=ImgRaw" alt="">
    <h1>Valve sätter standarden för spelmarknaden med platformen Steam</h1>
    <p>Stean är och har alltid varit den största platformen när det gäller spelbibliotek, och är den playformen där nästan varenda spelföretag väljer att publicera sitt spel, ibland på flera platformer samtidigt men nästan alltid på Steam.</p>
    <p>Steam har även satt en väldigt hög ribba med goda standard för andra företag som väljer att bygga sitt egna bibliotek, företag som exempelvis EpicGames. Steam fungerar ungefär som en referenspunkt när det gäller saker som user experience, user interface, samt utbud och jag tror att detta har varit en revolutionerande princip och är än idag.</p>
    <p>Allt började med Valves första stora datorpselsgenre Half Life. Half Life vart den första riktigt stora first person shooter titeln som världen fick lägga sina händer på efter att delar av Half Lifes gemenskap började skapa så kallade mods till spelet som tillät en tävlingsinriktad upplevelse mot andra spelare på nätet.</p>
    <p>Half Life och dessa mods kom sedan till att bli roten till den välkända first person shooter serien Counter-Strike, Counter-Strike är än idag en av de största taktiska first person shooter spelen på marknaden med ca 700k spelare online dygnet runt. När Valve släppte den första titeln av Counter-Strike som snabbt blev väldigt populärt bland alla västerländer märkte de snabbt att det hade varit väldigt mycket smidare för  folk om de bara behövda besöka sin webbläsare en gång för att ladda ned "Steam" istället för att behöva återbesöka olika hemsidor för de olika spelen Valve hade att erbjuda. Här knäcktes idéen om en webbbaserad platform med ett samlat bilbiotek.</p>
    <nav>
        <ul>
            <li>
                <a href="/index.html">Startsida</a>
            </li>
        </ul>
    </nav>
</body>
</html>