<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historiska Händelser</title>
    <script src="js/script.js" type="module"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1>OpenWGA</h1>
    <p>OpenWGA is a Content Management System (CMS) running on the Java Enterprise Edition Platform. It is used to build, manage and publish websites and content-centric web applications. The system is developed and maintained by German company Innovation Gate GmbH.</p>
    <br>
    <h2>Components and Editions of the CMS platform</h2>
    <p>The central part of the platform is the OpenWGA Server, a web server process responsible for publishing web applications. It itself is a web application of the Java Enterprise Edition Platform and is available in two editions:</p>
    <p>The Community Edition contains the content publishing engine, support for storing content data on MySQL, PostgreSQL, Microsoft SQL Server and HSQLDB databases and includes basic capabilities for user authentication. It is licensed as Open Source Software under GNU GPLv3 or higher and usable without fee. A special exception to the GNU GPL allows distribution of custom-licensed OpenWGA plugins along with the OpenWGA server.</p>
    <p>The Enterprise Edition builds upon the Community Edition to add support for database platforms (Lotus Domino, IBM DB2, Oracle Database), user authentication systems (LDAP directory servers, multiple shared authentication) and external data sources (CMIS repositories, Lotus Domino Databases) that are considered "enterprise grade" by the product creators. It consists of the GPL licensed community edition plus a custom-licensed "Enterprise Plugin" containing the additional features. Access to the Enterprise Edition is available via a paid subscription model by Innovation Gate GmbH.</p>
    <p>Another part of the platform is the OpenWGA developer studio, an Integrated development environment for developing and testing OpenWGA web applications, based on the Eclipse IDE framework.</p>
    <br>
    <h2>History</h2>
    <p>OpenWGA was long time developed under the name of WGA and was by this time a commercial Web Content Management System only available to the German market. With releasing it under Open Source License it was rebranded to OpenWGA. The acronym originally stood for "WebGate Anywhere", containing a reference to the predecessor software "Webgate", a CMS running on the IBM Lotus Domino Platform. The WGA/OpenWGA software has no connection with Windows Genuine Advantage, also known as WGA.</p>
    <br><br><br><br><br><br>
    <h1>Enonic XP</h1>
    <p>Enonic XP is a free and open-source web application platform and content management system (CMS) in one based on Java and Elasticsearch. Developed by the Norwegian software company Enonic, the microservice web platform can be used to build progressive web applications, complex websites, or web-based APIs. Enonic XP uses an application framework for coding server logic with JavaScript, and has no need for SQL as it ships with an integrated content repository. The CMS is fully decoupled, meaning developers can create traditional websites and landing pages, or use XP in headless mode, that is without the presentation layer, for loading editorial content onto any device or client. Enonic is used by major organizations in Norway, including the national postal service Norway Post, the insurance company Gjensidige, the national lottery Norsk Tipping, the Norwegian Labour and Welfare Administration, and all the top football clubs in the national football league for men, Eliteserien.</p>
    <br>
    <h2>Overview</h2>
    <p>Enonic XP has embedded web content management, blending applications and websites into one experience. The content management system (CMS) functionality includes a visual drag and drop editor, a landing page editor, support for multi-site and multi-language, media and structured content, advanced image editing, responsive user interface, permissions and roles management, revision and version control, and bulk publishing. Content and website(s) are managed through the “Content Studio,” while integrations and applications can be directly installed via the “Applications” section in XP, where the platform finds apps approved in the official Enonic Market.</p>
    <br>
    <h2>History</h2>
    <p>Enonic AS was founded in 2000 by Morten Øien Eriksen and Thomas Sigdestad. The software company specialized in building services and solutions using Java, including a content management system known as “Vertical Site”, then “Enonic CMS”. Being aware that they had application, database, and website teams working on separate silos toward the same goal, Enonic sought to combine the different elements into a single software. The resulting application platform Enonic XP, first released in 2015, includes a CMS as an optional surface layer.</p>
    <p>In March 2020, Enonic XP was ranked by SoftwareReviews as the “Leader” in Web Experience Management. The ranking is based on user reviews, and is featured in SoftwareReviews‘ 2020 Data Quadrant Report, a comprehensive evaluation and ranking of 18 leading Web Experience Management vendors. SoftwareReviews is a division of Info-Tech Research Group, a Canadian IT research and analyst firm established in 1997.</p>
    <nav>
        <ul>
            <li>
                <a href="/index.html">Startsida</a>
            </li>
        </ul>
    </nav>
</body>
</html>